table tr
{
    height: 20px;
}
button[class="btn btn-danger"]
{
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    padding: 0px;
}
#add_option_button
{
    margin-bottom: 15px;
}
#submit_form
{
    font-size: 1.7em;
    margin-bottom: 50px;
    width: 300px;
    height: 50px;
}
.erreur_submit
{
    margin: 25px;
}
button[class='btn option_tooltip']
{
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
}
.option_tooltip_glyph
{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.3em;
}
#registration_guests
{
    width: 95%;
}
#alerts
{
    font-size:1.5em;
    position: fixed;
    margin-top: 25px;
    top: 5%;
    left: 5%;
    width: 90%;
}
.change_page
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 1.4em;
    text-align: right;
}
.change_page_text
{
    background-color: #aaa;
}
.participant_infos th,td
{
    text-align: center;
}


.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}