config.php
vendor/
composer.lock
inscriptions/test.php
inscriptions/reset_participants.php
event_administration/test.php
event_administration/reset_events.php
db_creation/event_save.sql
participant_administration/test.php
img/
