.change_page
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 1.4em;
    text-align: right;
}
.change_page_text
{
    background-color: #aaa;
}
.change_number_rows
{
}
.tableau_quota
{
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    margin: 0px 100px;
}
.container_comparaisons
{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.container_tableau2
{
    margin: 0px 5px;
    font-size:0.7em;
}
.ligne_tableau2
{
}
.case_tableau2
{
    height: 80px;
    width:250px;
    text-align: center;
}
.case_tableau3
{
    height: 60px;
    width: 25px;
    text-align: center;
}
.container_tableau3
{
    margin: 0 50px;
}
.container_tableau4
{
    margin: 0 400px;
    text-align:center;
}.all_parametres
{
    font-size: 1.5em;
    margin-top: 50px;
}
.case_tableau1
{
    text-align:center;
}
.titre_invite
{
    text-align: center;
    font-size:2.5em;
}
.all_index
{
    position: absolute;
    top : 60px;
    left: 125px;
}
.title_edit
{
    text-align: center;
}
.whole_form
{
    margin: 50px 150px;
    display: flex;
    flex-direction: row;
}
.other_input, .text_input
{
    height: 100%;
    width:50%;
}
.submit_btn
{
    margin-left: 35%;
}
.champ_bracelet_general
{
    display: flex;
    flex-direction: row;
}
.erreur_saisie_bracelet
{
    display: none;
    margin-left: 50px;
    background-color: rgb(255, 0, 0, 0.5);
    font-size: 1.3em;
}
.db_quota_input
{
    display: none;
    width: 50px;
    text-align: center;
}